body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.star-rating {
  text-align: center;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 2em;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}
